#profileBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    width: 70%;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    z-index: -2;
}

.ccInput {
    height: 30px;
    width: 100px;
}

.secInput {
    height: 30px;
    width: 60px;
}

.warning {
    border: 1px red solid;
    width: 50%;
}